.row {
    height: 500px;
}

.seach {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.inpu {
    margin: 10px;
}

.rado {
    display: flex;
    align-items: center;
}

.radio {
    border-color: gainsboro;
    width: 15px;
}

label {
    margin-left: 10px;
}

.lef {
    margin-left: 10px;
}